/*custom styles*/
.box-container{

}

.box{

}
.box-head{
    padding: 0.5rem 1rem 0 0.5rem;
}
.box-body{
    padding: 0.5rem 1rem 0 0.5rem;

}
.box-foot{
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0;
}
