/*custom styles*/
.box-container{

}
.box{
    max-width: 20rem;
    margin: 0 1rem 1rem 0;
    display:grid ;
    grid-template-rows: auto 20rem auto;
}
.box-body{
    padding: 1rem;
    overflow: hidden;
}
.box-foot{
    padding: 1rem;
}
